{{define "title"}}{{.Category}} Recipes{{end}}
{{define "body"}}
<div class="content">
  <h1>{{.Category}}</h1>
  <h2><a href="/">Back to Categories</a></h2>
  <ul>
    {{range .Recipes}}
      <li><a href="/recipes/{{.ID}}">{{.Name}}</a></li>
    {{end}}
  </ul>
</div>
{{end}}
